.videoHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    color: white;
    max-width: 400px;
}

.videoHeader > *{
    padding: 20px;
}